@using VendorTracker.Models;

<body style="background-image: image('~/img/space.gif')">
   <div class="jumbotron">
      <h1>Welcome!</h1>
   </div>
   <div class="remote">
      <a href="/Vendors/new">Add a new opening.</a>
   </div>
</body>